<div class="d-grid grid-flow-col grid-temp-col-2-3 justify-content-between align-items-center ps-5 pe-5">
  <h1>WeTrade</h1>
  <nav>
    <ul
      class="p-0 d-grid grid-flow-column text-end gap-5 grid-temp-col-3 justify-content-between list-style-none"
    >
      <li>
        <a class="text-deco-none fw-bold" href="/">Home</a>
      </li>
      <li>
        <a class="text-deco-none fw-bold" href="/login">Login</a>
      </li>
      <li>
        <a class="text-deco-none fw-bold" href="/register">Register</a>
      </li>
    </ul>
  </nav>
</div>
