<%- include("../components/head.ejs") %>
<body>
  <%- include("../components/navBar") %>
  <form action="" method="GET" class="mt-5 container ps-5 pe-5">
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="full_name">Full Name:</label>
      <input
        class="col-span-2"
        type="text"
        name="fName"
        id="full_name"
        placeholder="Full Name"
      />
    </div>
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="email">Email:</label>
      <input
        class="col-span-2"
        type="email"
        name="email"
        id="email"
        placeholder="Email"
      />
    </div>
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="password">Password:</label>
      <input
      class="col-span-2"
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="d-flex justify-content-around">
      <input type="submit" value="Submit" />
    </div>
  </form>
</body>
