<%- include("../components/head.ejs") %>
<body>
  <%- include("../components/navBar") %>
  <form action="" method="POST" class="mt-5 container ps-5 pe-5">
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="company_name">Company Name:</label>
      <input
        class="col-span-2"
        type="text"
        name="company_name"
        id="company_name"
        placeholder="Company Name"
      />
    </div>
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="email">Email:</label>
      <input
        class="col-span-2"
        type="email"
        name="email"
        id="email"
        placeholder="Email"
      />
    </div>
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="password">Password:</label>
      <input
        class="col-span-2"
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="confirm-password">Confirm-Password:</label>
      <input
        class="col-span-2"
        type="confirm-password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Confirm Password"
      />
    </div>
    <div class="d-flex justify-content-around">
      <button type="submit" onclick="register()">Register</button>
    </div>
  </form>
</body>
<script>
  function register() {
    const company_name = document.getElementById("company_name").value;
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;
    const confirm_password = document.getElementById("confirm-password").value;
    
    return fetch("/register", {
      method: "POST",
      body: JSON.stringify({company_name, email, password})
    });
  }
</script>
