<%- include("../components/head.ejs") %>
<body>
  <%- include("../components/navBar") %>
  <form action="" method="POST" class="mt-5 container ps-5 pe-5">
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="business_name">Business Name:</label>
      <input
        class="col-span-2"
        type="text"
        name="business_name"
        id="business_name"
        placeholder="Business Name"
      />
    </div>
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="email">Email:</label>
      <input
        class="col-span-2"
        type="email"
        name="email"
        id="email"
        placeholder="Email"
      />
    </div>
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="password">Password:</label>
      <input
        class="col-span-2"
        type="password"
        name="password"
        id="password"
        placeholder="Password"
      />
    </div>
    <div class="mb-2 d-grid grid-temp-col-3 w-50 m-auto login-container">
      <label for="confirm-password">Confirm-Password:</label>
      <input
        class="col-span-2"
        type="confirm-password"
        name="confirm-password"
        id="confirm-password"
        placeholder="Confirm Password"
      />
    </div>
    <div class="d-flex justify-content-around">
      <input type="submit" value="Register" />
    </div>
  </form>
</body>
